## args and kwargs in Python

In [4]:
def myfunc(a,b):
    
    #Return 5% of sum a and b
    
    return sum((a,b)) * 0.05

In [5]:
myfunc(40,60)

5.0

In [8]:
def myfunc(*args):
    return sum((args)) * 0.05

In [9]:
myfunc(10,20,30,40,50,60,70)

14.0

In [14]:
def myfunc(**kwargs):
    print(kwargs)
    
    if 'fruits' in kwargs:
        print("My choice of fruit in {}".format(kwargs['fruits']))
    else:
        print('Tomar kono favourite fruit nai -_-')

In [16]:
ddd = myfunc(fruit = 'Watermalon', food = 'burger')

{'fruit': 'Watermalon', 'food': 'burger'}
Tomar kono favourite fruit nai -_-

## Lambda Expressions, Map, and Filter Functions

In [4]:
def square(num):
    return num**2

In [5]:
my_nums = [1,2,3,4,5]

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return "Even"
    
    else:
        return mystring[0]

In [10]:
name = ['Andy','Eve','Sally']

In [11]:
list(map(splicer,name))

['Even', 'E', 'S']

In [12]:
def check_even(num):
    return num%2 == 0

In [13]:
my_nums = [1,2,3,4,5,6,7]

In [14]:
filter(check_even,my_nums)

In [15]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [18]:
for n in filter(check_even,my_nums):
    print(n)

2
4
6

In [20]:
square = lambda num:num**2

In [22]:
square(3)

9

In [23]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25, 36, 49]

In [26]:
list(filter(lambda num:num%2 == 0,my_nums))

[2, 4, 6]

In [28]:
name

['Andy', 'Eve', 'Sally']

In [29]:
list(map(lambda word:word[0],name))

['A', 'E', 'S']

In [4]:
import math
def vol(rad):
    
    result = (4/3)*math.pi*(rad**3)
    return result

In [5]:
vol(2)

33.510321638291124

In [6]:
def ran_bool(num,low,high):
    
    if num >= low and num <= high:
        print(f'{num} is the range between {low} and {high}')
    else:
        print(f'{num} is not the range between {low} and {high}')

In [7]:
ran_bool(5,2,7)

5 is the range between 2 and 7

In [8]:
ran_bool(3,1,2)

3 is not the range between 1 and 2

In [47]:
def up_low(s):
    result ={'upper':0,'lower':0}
    for letter in s:
        if letter.isupper():
            result['upper']+= 1
        elif letter.islower():
            result['lower'] += 1
        else:
            pass
    print(s)
    print(f'No. of Upper case characters : ',result['upper'])
    print(f'No. of Lower case characters : ',result['lower'])

In [48]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case characters :  33

In [49]:
def unique_list(lst):
    new_lst = set(lst)
    return new_lst

In [50]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [53]:
def multiply(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

In [54]:
multiply([1,2,3,-4])

-24

In [55]:
def palindrome(s):
    
    if s == s[::-1]:
        return True

In [56]:
palindrome('helleh')

True

In [67]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    for letter in str1:
        if letter in alphabet:
            return True
        else:
            return False

In [68]:
ispangram("The quick brown fox jumps over the lazy dog")

False

In [71]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):  
    alphaset = set(alphabet)  
    return alphaset <= set(str1.lower())

In [73]:
alphabet=string.ascii_lowercase

In [75]:
alphaset = set(alphabet)

In [76]:
alphaset

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [77]:
str1 = "The quick brown fox jumps over the lazy dog"

In [78]:
set(str1.lower())

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

# Object Oriented Programming - Introduction

In [4]:
class SampleWord():
    pass

In [7]:
my_sample = SampleWord()

In [8]:
type(my_sample)

__main__.SampleWord

In [61]:
class Dog():
    # Class Object Attribute
    # Same for any instance of a class
    
    species = 'mammal'
    def __init__(self,bread,name,spots):
        self.bread = bread
        self.name = name
        
        #Boolean True/False
        self.spots = spots
    # OPERATIONS/Actions ---> Methods 
    def bark(self,number):
        print("W!oaf My name is {} an my number is {}".format(self.name,number))

In [62]:
my_dog = Dog(bread = 'Huskie',name= 'Piupiu', spots= False )

In [63]:
my_dog.bread

'Huskie'

In [64]:
my_dog.name

'Piupiu'

In [65]:
my_dog.spots

False

In [66]:
my_dog.species

'mammal'

In [67]:
my_dog.bark(10)

W!oaf My name is Piupiu an my number is 10

In [68]:
my_dog.bark(10)

W!oaf My name is Piupiu an my number is 10

In [74]:
class Circle():
    
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius = radius
        self.area = radius*radius*self.pi
        
    #Method
    def get_cercumference(self):
        return self.radius * self.pi * 2

In [75]:
my_circle = Circle(30)

In [76]:
my_circle.get_cercumference()

188.4

In [77]:
my_circle.pi

3.14

In [78]:
my_circle.radius

30

In [79]:
my_circle.area

2826.0

 ## Inheritance and Polymorphism.

In [2]:
class Animal():
    
    def __init__(self):
        print('ANIMAL CREATED')
    
    def who_am_i(self):
        print('I am an Nothing')
    
    def eat(self):
        print('I mam eating')

In [3]:
my_animal = Animal()

ANIMAL CREATED

In [4]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")

In [5]:
my_dog = Dog()

ANIMAL CREATED
Dog Created

In [6]:
my_dog.eat()

I mam eating

In [13]:
class Dog():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + ' says woof!'

In [14]:
class Cat():
    
    def __init__(self,name):
        self.name = name 
    def speak(self):
        return self.name + ' says mwao!'

In [15]:
my_dog = Dog('niko')
my_cat = Cat('felix')

In [16]:
print(my_dog.speak())

niko says woof!

In [19]:
for pet in [my_dog,my_cat]:
    print(type(pet))
    print((pet.speak()))

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says mwao!

## Homework Assignment

In [5]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2 -y1)**2 )**0.5
    
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1) / (y2 -y1) )

In [6]:
coordinate1 = (3, 2)
coordinate2 = (8, 10)

li = Line(coordinate1,coordinate2)

In [7]:
li.distance()

9.433981132056603

In [8]:
li.slope()

0.625

# Object Oriented Programming Challenge

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [68]:
class Account():
    
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance
        print(f'Account Owner : {self.owner}')
        print(f'Account Owner : ${self.balance}')
        
    def deposit(self,deposite_ammount):
        if deposite_ammount >= 0:
            self.balance += deposite_ammount
        print('Deposite Accepted')
    
    
    def withdraw(self,withdraw_amount):
        if withdraw_amount <= self.balance:
            print('Withdraw Accepted')
            self.balance -= withdraw_amount
        else:
            print('Fund Unavailable')

In [69]:
acct1 = Account('Jose',100)

Account Owner : Jose
Account Owner : $100

In [70]:
acct1.owner

'Jose'

In [71]:
acct1.balance

100

In [72]:
acct1.deposit(50)

Deposite Accepted

In [73]:
acct1.balance

150

In [74]:
acct1.withdraw(50)

Withdraw Accepted

In [75]:
acct1.balance

100

In [76]:
acct1.withdraw(500)

Fund Unavailable